
.container {
    height: 90vh;
}

.subirImagen {
    margin: auto;
    width: 60%;
    height: 60%;
    background-image: linear-gradient(to bottom, rgb(179, 187, 219), rgb(124, 143, 201));
    border-radius: 15px;
    box-shadow: 0px 10px 10px gray;
}

.containerBotonAnalisis {
    background-image: linear-gradient(45deg, #b8b8b8, #dcdcdc, #b8b8b8);
    width: 15%;
    height: 8vh;
    margin: 5em auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 20px rgb(113, 113, 113);
    transition: background-image 0.3s ease, transform 0.3s ease;
}

.containerBotonAnalisis:hover {
    background-image: linear-gradient(45deg, #e0e0e0, #f0f0f0, #e0e0e0); 
    transform: translateY(-5px);
}
.botonBoton {
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: black;
    border: none;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}
