
.container {
    border-color: red;
    border-style: dashed;
    height: 85vh;
}

.subirImagen {
    border-color: green;
    border-style: dashed;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: rgb(240, 196, 180);
    border-radius: 15px;
}