.container {
    border-color: blue;
    border-style: dashed;
    border-width: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton {
    padding: 1em;
}