.container {
    display: flex;
    align-items: center;
}

.fotoEmpresa {
    margin: 2em;
}

.imgdiv {
    margin: 5em auto;
    width: fit-content;
    transition: 0.5s;
}

.imgdiv:hover{
    transform: scale(1.05) translateY(-5px);
}

.img {
    border-radius: 55px;
    box-shadow: 1px 1px 40px 1px rgb(234, 234, 194);
}

.textoimg {
    background-color: floralwhite;
    text-align: center;
    position: relative;
    top: -6em;
    font-style: italic;
    font-size:3rem;
}

.quienes {
    border-radius: 30px;
    padding: 2em;
    background-color: rgb(170, 194, 239);
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0px 5px 5px 1px rgb(141, 147, 169);
    font-size: x-large;
}

.containerBoton {
    text-align: center;
    margin-bottom: 10vh;
}
.boton {
    border-radius: 30px;
    border-style: dotted;
    width: 30%;
    height: 100%;
    margin: auto;
}

.boton:hover {
    background-color: gray;
    border-color: white;
    font-weight: bolder;
}

.botonAnalisis {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}

.botonAnalisis:hover {
    color: white;
}